* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(35deg, #95afc0, #0f2b3d) no-repeat center fixed;
  background-size: cover;
}

.main-header {
  position: relative;
  font-size: 4rem;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 4s;
  height: 10em;
  }

.main-header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links {
  display: grid;
  grid-column-gap: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  animation-name: links-animation;
  animation-duration: 5s;
  }

@keyframes links-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links a {
  text-decoration: inherit;
  color: inherit;
}

.blog {
  grid-column: 1 / 2;
}

.aboutme {
  grid-column: 2 / 3;
}

.work {
  grid-column: 3 / 4;
}

.blog:hover a {
  color: #612131;
  text-decoration: bold;
}

.work:hover a {
  animation-duration: 1s;
  color: #612131;
  text-decoration: bold;
}

.aboutme:hover a {
  color:#612131;
  text-decoration: bold;
}

.aboutmetext {
  text-align: center;
}

.worktext{
  text-align: center;
}

.contact-information {
  text-align: center;
  font-style: italic;
  position: relative;
  animation-name: contact-animation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  }

  @keyframes contact-animation {
    0% {
      right: 50%;
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      right: 0%;
      opacity: 1;
    }
  }
