* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(35deg, #95afc0, #0f2b3d) no-repeat center fixed;
  background-size: cover;
}

.main-header {
  white-space: nowrap;
  font-size: 10vh;
  text-align: center;
  animation-name: fade-in;
  animation-duration: 4s;
  }

.main-header h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*mobile resizing*/
@media (max-width: 500px) {h2 {font-size: 1vh;}}

.links {
  height: 95vh;
  font-size: 4vh;
  display:flex;
  justify-content: space-evenly;
  position: relative;
  animation-name: links-animation;
  animation-duration: 5s;
  }

@keyframes links-animation {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links a {
  position: absolute;
  top: 55vh;
  text-decoration: inherit;
  color: inherit;
}

.blog:hover a {
  color: #612131;
}

.work:hover a {
  color: #612131;
}

.aboutme:hover a {
  color:#612131;
}

.contact-information {
  text-align: center;
  font-style: italic;
  position: relative;
  font-size: 3vh;
  animation-name: contact-animation;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  }

.contact-information p {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}
  @keyframes contact-animation {
    0% {
      right: 50%;
      opacity: 0;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
